
.page{
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}
main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
}
input.errorSearch{
    border: 2px solid red;
}
.errorSearch{
    color:red
}

.movies{
    width: 100%;
    margin: 0;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}
.movie{
    padding: 2px;
    background-color: #f7f6f61d;
    border-radius: 4px;
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: end;
    list-style: none;
    font-size: 13px;
}
.movie img{
    border-radius: 3px;
    height: 350px;
}
.movie h3{
    margin-bottom: 0;
    max-height: 30%;
}
