#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.menu{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  
}

/* para darle css a la etiquete NAVLINK */
.active-link{
  border-bottom: 1px solid #f00;
}
